.regf{
width: 500px;
}
.regpage .regf input{
  display: block;
  width: 100%;
  border-radius: 8px;
  padding: 11px;
  border: 1px;
  outline: none;
  background-color: #FFFAF0;
  margin-bottom: 11px;
}
.regpage .regf .btn {
  background-color: var(--main);
  width: 100%;
}
.regpage .regf .btn:hover{
  background-color:#0c457f ;
}
 .line{
  width: 31%;
  display: inline-block;
  background-color: var(--main);
  height: 1px;
 }
 .container{
  display: flex !important;
  justify-content: space-between !important;
 }
.container .reimg {
  width: 400px;
  height: 400px;
  border-radius: 50%;
    margin-right: 100px;
    margin-top: -30px;
    position: relative;
    left: 89px;
}
.social-icon {
  font-size: 26px;
  margin: 0 10px;
  cursor: pointer;
  transition: 0.3s;
}

.google {
  color: #DB4437;
}

.facebook {
  color: #1877F2;
}

.twitter {
  color: black;
}

.social-icon:hover {
  opacity: 0.7;
}

.login-text {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  color: black;
}

.login-link {
  color: #003366;;
  font-weight: bold;
  text-decoration: none;
}

.login-link:hover {
  text-decoration: underline;
}
.reh{
  position: relative;
  top: -60px !important;
  left: 0 !important;

}
